<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokeInfo WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PokeInfo WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PokeInfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E11A3D3F1D4264D5002DE81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11A3D531D4264D5002DE81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11A3D5E1D4264D5002DE81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11A3D671D4264D5002DE81F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
